@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root
{
    --color-main: #222327;
    --color-active: #2196f3;

    --transition-main: .5s;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-main);
}


.navigation
{
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation .list 
{
    display: flex;
    width: 350px;
}
.navigation .list .item 
{
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;

    z-index: 2;
}
.navigation .list .item a 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation .list .item a .icon
{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: var(--transition-main);
    color: var(--color-main);
}

.navigation .list .item.active a .icon
{
    transform: translateY(-32px);
    color: var(--color-active);
}
.navigation .list .item a .text
{
    position: absolute;

    font-size: .75em;
    letter-spacing: .05em;
    font-weight: 400;

    background: var(--color-active);
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;

    transition: var(--transition-main);
    opacity: 0;
    transform: translateY(15px);
}
.navigation .list .item.active a .text
{
    transform: translateY(-4px);
    opacity: 1;
}
.selector 
{
    position: absolute;
    top: -35px;

    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;

    z-index: 1;
    transition: var(--transition-main);
}
.selector::before
{
    content: '';
    position: absolute;

    top: 5px;
    left: -27px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: transparent;
    box-shadow: 15px 18px #fff;
}
.selector::after
{
    content: '';
    position: absolute;

    top: 5px;
    right: -27px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: transparent;
    box-shadow: -15px 18px #fff;
}